.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px; /* Linkler arasındaki mesafeyi ayarlar */
    height: 10vh;
    margin:auto;
  }
  
  .link {
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 10px 200px;
    border-radius: 20px;
    
  }
  
  
  
  .content1 {
        display: flex;
        justify-content: center; /* İçeriği yatayda ortalar */
        align-items: center; /* İçeriği dikeyde ortalar */
        height: 7vh; /* İçeriği tam ekran yapar */
        background-color: #3e6a89; /* Arka plan rengi */
      }

  .content2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    height: 3vh;
    margin:auto;
    height: 5vh;
  }

  .h1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; /* Linkler arasındaki mesafeyi ayarlar */
    height: 1vh;
    
    
  }